<nav>
    <a href="{{ '/portal.html' | relative_url }}" class="enlace-portal"><svg class="icon icon-sm"><use href="#icon-home"></use></svg> Portal</a>

    {% case page.modulo %}

    {% when 'asistencia' %}
        <a href="{{ '/dashboard.html' | relative_url }}">Inicio</a>
        <a href="{{ '/asistencia.html' | relative_url }}">Tomar asistencia</a>
        <a href="{{ '/asistencia-reporte-diario-curso.html' | relative_url }}">Reporte diario</a>
        <a href="{{ '/asistencia-reportes.html' | relative_url }}">Otros reportes</a>

    {% when 'calificaciones' %}
        <a href="{{ '/calificaciones.html' | relative_url }}">Actividades</a>
        <a href="{{ '/calificaciones-reportes.html' | relative_url }}">Reportes</a>

    {% when 'horario' %}
        <a href="{{ '/horario.html' | relative_url }}">Mi horario</a>
        <a href="{{ '/horario-curso.html' | relative_url }}">Horario por curso</a>
        <a href="{{ '/asignar-horario.html' | relative_url }}" data-solo-admin>Asignar horario</a>
        <a href="{{ '/bloques-horario.html' | relative_url }}" data-solo-admin>Bloques horario</a>

    {% when 'conducta' %}
        <a href="{{ '/conducta.html' | relative_url }}">Incidentes</a>
        <a href="{{ '/conducta-nueva.html' | relative_url }}">Registrar falta</a>

    {% when 'dinamica' %}
        <a href="{{ '/dinamica-clase.html' | relative_url }}">Inicio</a>
        <a href="{{ '/ruleta.html' | relative_url }}">Ruleta</a>
        <a href="{{ '/dinamica-grupos.html' | relative_url }}">Generador de Grupos</a>
        <a href="{{ '/actividades.html' | relative_url }}">Actividades</a>
        <a href="{{ '/pantalla-inicio.html' | relative_url }}">Pantalla de inicio</a>

    {% when 'estudiantes' %}
        <a href="{{ '/estudiantes.html' | relative_url }}">Listado</a>

    {% when 'asignaciones' %}
        <a href="{{ '/asignaciones.html' | relative_url }}">Asignaciones</a>

    {% when 'reportes' %}
        <a href="{{ '/reportes.html' | relative_url }}">Inicio</a>
        <a href="{{ '/asistencia-reporte-diario-curso.html' | relative_url }}">Asistencia diaria</a>
        <a href="{{ '/asistencia-reportes.html' | relative_url }}">Asistencia</a>
        <a href="{{ '/calificaciones-reportes.html' | relative_url }}">Calificaciones</a>
        <a href="{{ '/conducta.html' | relative_url }}">Conducta</a>
        <a href="{{ '/horario-curso.html' | relative_url }}">Horario por curso</a>

    {% when 'configuracion' %}
        <a href="{{ '/configuracion.html' | relative_url }}">Inicio</a>
        <a href="{{ '/anios-escolares.html' | relative_url }}">Años Escolares</a>
        <a href="{{ '/cursos.html' | relative_url }}">Cursos</a>
        <a href="{{ '/asignaturas.html' | relative_url }}">Asignaturas</a>
        <a href="{{ '/periodos.html' | relative_url }}">Períodos</a>
        <a href="{{ '/competencias.html' | relative_url }}">Competencias</a>
        <a href="{{ '/usuarios.html' | relative_url }}">Usuarios</a>

    {% endcase %}
</nav>
