<nav>
    <a href="{{ '/portal.html' | relative_url }}">🏠 Portal</a>
    <a href="{{ '/dashboard.html' | relative_url }}">Inicio</a>
    <a href="{{ '/asistencia.html' | relative_url }}">Tomar asistencia</a>
    <a href="{{ '/reportes.html' | relative_url }}">Reportes</a>
    <a href="{{ '/horario.html' | relative_url }}">Horario</a>
    <a href="{{ '/conducta.html' | relative_url }}">Conducta</a>
    <a href="{{ '/dinamica-clase.html' | relative_url }}">Dinámica de Clase</a>
    <a href="{{ '/asignar-horario.html' | relative_url }}" data-solo-admin>Asignar horario</a>
    <a href="{{ '/bloques-horario.html' | relative_url }}" data-solo-admin>Bloques horario</a>
    <a href="{{ '/cursos.html' | relative_url }}" data-solo-admin>Cursos</a>
    <a href="{{ '/asignaturas.html' | relative_url }}" data-solo-admin>Asignaturas</a>
    <a href="{{ '/estudiantes.html' | relative_url }}" data-solo-admin>Estudiantes</a>
    <a href="{{ '/asignaciones.html' | relative_url }}" data-solo-admin>Asignaciones</a>
    <a href="{{ '/usuarios.html' | relative_url }}" data-solo-admin>Usuarios</a>
</nav>
